<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%=title %> </h1>
  <section>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Flight #<%= flight._id %></h2>
    <p>Airline: <%= flight.airline %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Flight Number: <%= flight.flightNo %></p>
    <p>Departure: <%= flight.departs %></p>
  <% } %>
  </section>
</main>

  <%- include('../partials/footer') %>
