<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Flight Information</title>
</head>
<body>
  <a href="/flights/new">New Flight</a>
  <a href="/flights">All Flights</a>
  <h1>Flight Information</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Flight #<%= flight._id %></h2>
    <p>Airline: <%= flight.airline %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Flight Number: <%= flight.flightNo %></p>
    <p>Departure: <%= flight.departs %></p>
  <% } %>
</body>
</html>

